@font-face {
  font-family: prosto-one;
  src: url(assets/fonts/ProstoOne-Regular.ttf);
}

body {
  font-family: prosto-one;
  background-color: black;
  color: white;
  height: 100%;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: left;
}

.title h1 {
  margin: 0;
  font-size: 40px;
}

.title h2 {
  margin: 0;
  font-size: 16px;
}

.dropdown-menu {
  display: none;
  width: 9%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  opacity: 70%;
  padding: 10px;
  right: 65px;
  z-index: 1;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-menu ul li {
  margin-bottom: 5px;
  text-align: right;
  border-bottom: 1px solid rgb(19, 17, 17);
}

.dropdown-menu ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.image-container:hover .dropdown-menu {
  display: block;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.songboxes {
  display: flex;
  transition: transform 0.5s ease;
  animation: slide-right 80s linear infinite;
  animation-delay: 0s;
}

.songboxes.cycle {
  animation-play-state: running;
}

@keyframes slide-right {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.carousel-container {
  display: flex;
  position: relative;
  overflow-x: auto; /* Change overflow to auto */
  padding: 5% 0;
  white-space: nowrap;
}

.songboxes:hover {
  animation-play-state: paused;
}

.carousel-item {
  flex: 0 0 auto;
  margin: 0 10px;
  width: 350px;
  height: 450px;
  border-radius: 10%;
  position: relative;
}

.carousel-item a {
  font-size: 40px;
}

::-webkit-scrollbar {
  display: none;
}

/* artist blocks */
.enayet {
  background-color: #eb7f96;
}
.three-oscillators {
  background-color: #e88d38;
}
.nate08 {
  background-color: #425c73;
}
.babloo-babylon {
  background-color: #60643f;
}
.yungraj {
  background-color: #e8323f;
}
.eashwar {
  background-color: #ccc084;
}
.jwala {
  background-color: #c9c332;
}
.ynzn {
  background-color: #020cd6;
}
.foeseal {
  background-color: #a6321e;
}
.alif {
  background-color: #a3d4e7;
}

.about {
  position: absolute;
  left: 50%;
  right: 50%;
}

.about a {
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
}

.about a:hover {
  background-color: #c55b19;
  border: 1px solid white;
}

.aboutcontent {
  padding: 20px;
}

/* about page specific styles */
@media only screen and (min-width: 600px) {
  .aboutcontent {
    width: 100%;
    padding: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .aboutcontent {
    width: 90%;
    padding: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .aboutcontent {
    width: 75%;
    padding: 20px;
  }
}

.contact {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid white;
}

/* sidebar styles */
@media only screen and (min-width: 1200px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
  }

  .image-container {
    padding-right: 40px;
  }

  .contact {
    position: fixed;
    right: 45px;
    bottom: 20px;
  }
}

@media only screen and (max-width: 1199px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100px;
  }

  .image-container {
    padding-right: 25px;
  }

  .contact {
    position: relative;
    top: 10px;
    left: 20px;
    bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
  }

  .contact {
    position: relative;
    left: 20px;
    bottom: 20px;
  }
}

@media only screen and (max-width: 602px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
  }

  .contact {
    position: relative;
    left: 20px;
    bottom: 20px;
  }
}

.embedded-song {
  position: absolute;
  top: 45%;
  left: 50%;
  margin: -150px 0 0 -150px;
}

.embedded-song-even {
  position: absolute;
  top: 60%;
  left: 50%;
  margin: -150px 0 0 -150px;
}

/* card style */
.card.animate .content {
  transform: rotateY(180deg);
}

.box,
.front,
.back {
  width: 350px;
  height: 450px;
}

.content {
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0);
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  transform: rotateY(180deg);
  background-color: #eb7f96;
}

.back-content {
  border: 1px solid white;
}

.image-container {
  text-align: center;
  z-index: 1000;
}

.image-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid white;
}

